<h1>Descending order for notes</h1>
<div class="row">
    <ul>
      <% Notebook.order_notebooks.each do |notebook| %>
        <li> <%= notebook.title %> = <%= notebook.note_count %> </li>
      <% end %>
    </ul>
</div>
</div>
