<%= form_for(@reference) do |f| %>

  <div class="form-group">
    <%= f.label :reference_link, :class => "control-label" %>
    <%= f.text_field :reference_link, :class => "form-control"  %>
  </div>

  <%= f.submit "Submit", :class => "btn btn-default" %>
<% end %>
