/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 $font-stack:    Helvetica, sans-serif;
 $light-mint: #48CFAD;
 $mint: #37BC9B;
 $light-gray: #CCD1D9;
 $medium-gray: #AAB2BD;
 $indigo: #3F51B5;
 $gray: #9E9E9E;
 $toggleColor: #FAFAFA;


// TEXT //
p, h1, h2, h3, h4, h5, h5, li, a {
  font: 100%, $font-stack;
  color: $medium-gray;
}


// BUTTONS & LINKS //
.btn {
  border-color: $indigo;
  color: $indigo;
}


// LISTS //
ul {
  list-style-type: none;
}

// SPACING //

.padding-bottom {
  padding-bottom: 5%;
}


.notebook {
  a, p {
    color: $indigo;
  };
}


.page-header {
  color: $light-gray;
}

form {
  width: 60%;
  margin: 0 auto;
  padding-top: 10%;
}

.navbar-default {
  a {
    background-color:transparent !important;
  }
}
