/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Oswald|Quattrocento:400,700);



 // BASE //
 $display-font: 'Oswald', sans-serif; //NOT WORKING
 $body-font: 'Quattrocento', serif;
 $font-stack: Helvetica, sans-serif;

 $primary-light: #CCD1D9; //light-gray
 $primary-medium: #AAB2BD; //medium-gray
 $accent: #3F51B5; //indigo
 $primary: #9E9E9E; //gray
 $toggleColor: #FAFAFA;


@mixin title-style {
  font-family: $display-font;
  text-transform: uppercase;
  color: $accent
}

@mixin body-style {
  font-family: $body-font;
  color: $primary;
}


p, h1, h2, h3, h4, h5, h5, li, a {
  font: 100%, $body-font;
  color: $gray;
}

a:hover {
    color: $accent
}

form {
  width: 60%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}


// COMPONENTS //

// .alert
// .page-header

.btn {
  border-color: $accent;
  color: $accent;
}

button {
  border-color: $accent;
  color: $accent;
  background-color: white;
  border-radius: 5px;
}

// PATTERNS //
.right {
  float: right;
}
.navbar-default {
  a {
    background-color:transparent !important;
  }
}

.notebook {
  a, p {
    color: $accent;
  }
}

.single-note {
  margin-top: 3%;
}

.page-header,
.noteName,
.notebook {
  @include title-style;
}

.notebookSection,
.notebookNotesSection,
.notebook-details,
.show,
.single-note {
  @include body-style;

}

.references {
  li {
    @include body-style;
  }
}


.panel {
  a, h6, p {
    color: $primary;
  }
}

.panelHover {
  background-color: $accent;
  a, h6, p {
    color: white;
  }
}

.smaller {
  font-size: 28px;
}

// show/ hide


.container .all-references .all-references-bottom {
  display: none;
}

.container .my-references .my-references-bottom {
  display: none;
}



// VIEWS //
