<div class="nav">
  <ul class="nav nav-pills">
    <li role="presentation" ><%= link_to 'All Notebooks', notebooks_path %></li>
    <li role="presentation"><%= link_to 'New Notebook', new_notebook_path %></li>
  </ul>
</div>
